%p
  w00t! Now that you have a Staffwisely account, there are two things you can do:

%p
  1. #{link_to 'Post a job', "http://staffwisely.com/jobs/new"} - If you have urgent hiring requirements, post a job on Staffwisely
  and receive proposals from other companies. In a matter of days, you can have the skilled people you need. See #{link_to "how it works.", "http://staffwisely.com/how_it_works"}

%p
  2. #{link_to 'Find projects', "http://staffwisely.com/projects"} - Staffwisely would make a great revenue channel for your company. You can find projects
  from the job postings of other companies. See #{link_to "how it works.", "http://staffwisely.com/how_it_works"}

%p
  If you have any questions, feel free to reply to send an email to harry@staffwisely.com

%p
  Regards,
  %br/
  Staffwisely Team

