%p
  Hey there!

%p
  I’m Harry one of the Co-founders of Staffwisely, and I just want to welcome you to our platform. If you have any questions or need support, feel free to reach out to me directly.
  My email address is harry@staffwisely.com. You can also add me on skype: harry_lp7

%p 
  Thanks! 

%p
  Regards,

%p
  Harry Arbasa
