/*
 ** Skeleton V1.2
 ** Copyright 2011, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 6/20/2012

/* Table of Content
 *==================================================
 *	#Reset & Basics
 *	#Basic Styles
 *	#Site Styles
 *	#Typography
 *	#Links
 *	#Lists
 *	#Images
 *	#Buttons
 *	#Forms
 *	#Misc

/* #Reset & Basics (Inspired by E. Meyers)
 *==================================================

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

/* #Basic Styles
 *==================================================

body
  background: #e9e9e9
  font: 14px / 21px "OpenSansRegular", Helvetica, Arial, sans-serif
  color: #676767
  -webkit-font-smoothing: antialiased
  /* Fix for webkit rendering
  -webkit-text-size-adjust: 100%

/* #Typography
 *==================================================

h1, h2, h3, h4, h5, h6
  color: #515151
  font-weight: normal

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-weight: inherit

h1
  font-size: 46px
  line-height: 50px
  margin-bottom: 14px

h2
  font-size: 35px
  line-height: 40px
  margin-bottom: 10px

h3
  font-size: 28px
  line-height: 34px
  margin-bottom: 8px

h4
  font-size: 21px
  line-height: 30px
  margin-bottom: 4px

h5
  font-size: 17px
  line-height: 24px

h6
  font-size: 14px
  line-height: 21px

.subheader
  color: #777

p
  margin: 0 0 20px 0
  img
    margin: 0
  &.lead
    font-size: 21px
    line-height: 27px
    color: #777

em
  font-style: italic

strong
  font-family: 'OpenSansBold'
  color: #333

small
  font-size: 80%

/*	Blockquotes

blockquote
  font-size: 17px
  line-height: 24px
  color: #777
  font-style: italic
  p
    font-size: 17px
    line-height: 24px
    color: #777
    font-style: italic
  margin: 0 0 20px
  padding: 9px 20px 0 19px
  border-left: 1px solid #ddd
  cite
    display: block
    font-size: 12px
    color: #555
    &:before
      content: "\2014 \0020"
    a
      color: #555
      

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0

/* #Links
 *==================================================

a
  color: #1D89F5
  text-decoration: none
  outline: 0
  cursor: pointer
  
  &.back-link
    position: absolute
    left: -100px
    text-align: center
    color: #898989
    opacity: .7
    span
      position: relative
      top: -2px
  &:hover
    opacity: 1
  i.icon-angle-left
    text-shadow: 0 1px 0 #f1f1f1
    font-size: 21px
    margin-right: 5px
    padding: 5px
    width: 22px
    background: #ccc
    color: #636363
    height: 22px
    border-radius: 50%


  
  

p a
  line-height: inherit
  &:visited
    line-height: inherit

/* #Lists
 *==================================================

ul, ol
  margin-bottom: 20px

ul
  list-style: none outside

ol
  list-style: decimal
  margin-left: 30px

ul
  &.square, &.circle, &.disc
    margin-left: 30px
  &.square
    list-style: square outside
  &.circle
    list-style: circle outside
  &.disc
    list-style: disc outside
  ul, ol
    margin: 4px 0 5px 30px
    font-size: 90%

ol
  ol, ul
    margin: 4px 0 5px 30px
    font-size: 90%

ul
  ul li, ol li
    margin-bottom: 6px

ol
  ol li, ul li
    margin-bottom: 6px

li
  line-height: 18px
  margin-bottom: 12px

ul.large li, li p
  line-height: 21px

/* #Images
 *==================================================

img.scale-with-grid
  max-width: 100%
  height: auto

/* #Buttons
 *==================================================



.btn, a.btn, input[type=submit].btn, button.btn
  padding: 5px 10px
  background: #f1f1f1
  box-shadow: 0 2px 0 #c1c1c1
  color: #636363
  font-weight: bold
  text-decoration: none
  border-radius: 3px
  position: relative
  text-shadow: 0 1px 0 #fff
  font-family: 'OpenSansSemibold'
  line-height: 1.4
  outline: none
  border: none
  &:hover
    color: inherit
  &.signup
    background: #24ABE5
    color: #fff
    text-shadow: 0 -1px 0 rgba(0,0,0,.2)
    box-shadow: 0 2px 0 #0384BC
    &:active
      box-shadow: 0 1px 0 #0384BC
  &:active
    top: 1px
    box-shadow: 0 1px 0 #c1c1c1
  &.signup-cta
    @extend .signup
    font-size: 20px
    padding: 10px 30px
    font-family: 'OpenSansLight'
    box-shadow: 0 3px 0 #0384BC
  &.full
    display: block
    text-align: center
  &.action
    @extend .signup
    padding: 10px


input
  &[type="submit"].full-width, &[type="reset"].full-width, &[type="button"].full-width
    width: 100%
    padding-left: 0 !important
    padding-right: 0 !important
    text-align: center

/* Fix for odd Mozilla border & padding issues

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

/* #Forms
 *==================================================


input
  &[type="text"], &[type="password"], &[type="email"]
    border: 1px solid #ccc
    padding: 7px 4px
    outline: none
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    font-size: 13px 
    font-family: "OpenSansRegular", Helvetica, Arial, sans-serif
    color: #777
    margin: 0
    width: 210px
    max-width: 100%
    display: block
    margin-bottom: 20px
    background: #fff

    &.short
      width: 40px
    &.inline
      display: inline-block

textarea
  border: 1px solid #ccc
  padding: 6px 4px
  outline: none
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  font-size: 13px 
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif
  color: #777
  margin: 0
  width: 210px
  max-width: 100%
  display: block
  margin-bottom: 20px
  background: #fff

select
  border: 1px solid #ccc
  padding: 6px 4px
  outline: none
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  font-size: 13px 
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif
  color: #777
  margin: 0
  width: 210px
  max-width: 100%
  display: block
  margin-bottom: 20px
  background: #fff

  &.short
    width: 60px
  &.inline
    display: inline-block

input
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus
    border: 1px solid #aaa
    color: #444
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)

textarea
  &:focus
    border: 1px solid #aaa
    color: #444
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
  min-height: 60px

label, legend
  display: block
  font-weight: bold
  font-size: 13px

select
  width: 220px

input[type="checkbox"]
  display: inline

label span, legend span
  font-weight: normal
  font-size: 13px
  color: #444

/* #Misc
 *==================================================

.remove-bottom
  margin-bottom: 0 !important

.half-bottom
  margin-bottom: 10px !important

.add-bottom
  margin-bottom: 20px !important

header
  background: #1e1e1e
  height: 58px
  &.fixed
    position: fixed
    width: 100%
    z-index: 1000
  a
    color: #e1e1e1
    &:hover
      color: #fff
      

a.logo
  background: image-url('logo.png')
  float: left
  width: 291px
  position: relative
  top: -20px
  height: 85px
  &.centered
    margin: 0 auto
.page
  padding-top: 50px

.nav-list
  margin-top: 17px
  &.right
    float: right
  > li
    display: inline-block
    margin-left: 15px

.main-hero
  padding: 80px 0 70px 0
  background: #fff
  text-align: center
  border-bottom: 2px solid #e1e1e1
  h1
    font-family: 'OpenSansSemibold'
    letter-spacing: -2px
    font-size: 50px
  h2
    font-size: 20px
    line-height: 1.6

.hero-message
  margin-bottom: 30px
  display: block
.home-section
  margin: 30px 0 50px 0
  line-height: 1.8
  h2
    font-size: 30px
  h3
    font-size: 20px
    color: #333
.section-centered
  text-align: center

.switch-nav
  text-align: center
  margin-top: 30px
  a
    display: inline-block
    padding: 15px
    min-width: 30%
    font-size: 16px
    background: #fff
    color: #F51D4F
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    position: relative
    &.active
      color: #676767
      cursor: default
    &.inactive 
      background: #F51D4F
      color: #fff
      top: 5px
      box-shadow: 0 -2px 3px rgba(0,0,0,.1) inset
      transition: all 1s ease-in
      -webkit-transition: all .1s ease-out
      -moz-transition: all .1s ease-out
      cursor: pointer
      z-index: 90
      &:hover
        top: 0

.section-white
  background: #fff
  padding: 20px
  border-radius: 10px
  position: relative
  z-index: 100

.block
  padding: 20px 0
  &.centered
    text-align: center
.item-round
  display: inline-block
  
  font-size: 40px
  font-family: 'OpenSansLight'
  border-radius: 50%
  width: 73px
  height: 73px
  background: #f1f1f1
  text-shadow: 0 1px 0 #fff
  text-align: center
  padding: 10px

#error_explanation
  font-size: 13px
  color: #EC4949
  h2
    font-size: 14px
    line-height: 1.4
    margin: 0
    font-family: 'OpenSansBold'
  li
    margin: 0 0 5px 0
    line-height: 1.4 
.company-logo-container
  display: inline-block
  .company-logo
  
    border: 1px solid #e1e1e1
    overflow: hidden
    background: #fff
    text-align: center
    &.large
      height: 150px
      width: 280px
    &.small
      height: 75px
      width: 140px

.contractor-name
  font-size: 20px
  font-family: 'OpenSansRegular'
  color: #333


.cover-overlay
  background: #f1f1f1
  height: 150px
  margin-top: -2px

.pane-nav
  a
    cursor: pointer
    position: relative
    display: inline-block
    padding: 10px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    font-family: 'OpenSansBold'
    min-width: 150px
    text-align: center
    font-size: 14px
    color: #676767
    text-shadow: 0 1px 0 #fff

    &.active
      background: #24ABE5
      color: #fff
      text-shadow: 0 -1px 0 rgba(0,0,0,.2)
      cursor: default
    .marker
      position: absolute
      bottom: -2px
      left: 73px
      width: 0
      height: 0
      border-color: transparent transparent #ffffff transparent
      border-width: 7px
      border-style: solid

.pane-inner
  background: #fff
  border-top: 2px solid #24abe5

.post
  font-size: 12px
  a
    display: block
    padding: 15px
    color: #676767
    border-bottom: 1px solid #e1e1e1
    transition: all 15s ease-in
    -webkit-transition: all .15s ease-out
    -moz-transition: all .15s ease-out
    position: relative
    &:hover
      background: #f6f6f6
  .company-logo-container
    float: left
    margin-right: 10px
  .post-inner
    width: 450px
    float: left
  .notifier
    position: absolute
    left: -15px
    width: 20px
    height: 20px
    background: #EF4C4C
    border: 3px solid #fff
    color: #fff
    font-size: 12px
    font-family: 'OpenSansBold'
    text-align: center
    border-radius: 50%
    line-height: 1.7
    padding: 3px

  .post-date
    font-size: 12px
    color: #b1b1b1
  h3
    line-height: 1.4
    font-size: 16px
    font-family: 'OpenSansSemiBold'
    margin: 0
    color: #333


.post-item
  background: #fff
  padding: 30px
  box-shadow: 0 3px 10px rgba(0,0,0,.2)
  position: relative
  margin-bottom: 20px
  h1
    font-size: 28px
    font-family: 'OpenSansBold'
    letter-spacing: -1px
  h2
    font-size: 20px
    font-family: 'OpenSansBold'
    letter-spacing: -1px
  .company-logo,.user-details
    display: inline-block
    vertical-align: top
  .company-logo
    margin-right: 10px
  a.delete-post
    position: absolute
    right: 10px
    top: 10px
    width: 50px
    height: 50px
    border: 1px solid transparent
    border-radius: 50%
    font-size: 20px
    text-align: center
    color: #d1d1d1
    i
      position: absolute
      top: 15px
      left: 18px
    &:hover
      color: #999
      border: 1px solid #d1d1d1

  a.edit-post
    float: right
    font-size: 12px
    text-decoration: underline
    position: relative
    top: 10px


.project-meta
  ul
    margin: 0
  li
    display: inline-block
    font-size: 12px
    margin: 0 20px 0 0 
    color: #999
    strong
      color: #333
  &.list-block
    li
      display: block
      margin: 5px 0

.job-requirements
  margin-top: 20px
  padding-top: 20px
  border-top: 1px solid #e1e1e1
  h2
    font-size: 18px
    font-family: 'OpenSansBold'

.job-note
  font-size: 12px
  color: #676767
  text-shadow: 0 1px 0 #fff
.form-search
  margin-top: 20px
  label
    font-size: 14px
  .search-wrapper
    background: #fff
    border: 1px solid #ccc
    input[type=text]
      border: none
      margin: 0
      padding: 10px
      font-size: 16px
      box-shadow: none
      width: 80%
      display: inline-block
    button
      background: none
      border: none
      display: inline-block
      padding: 0
      margin: 0
      cursor: pointer
    i.icon-search
      font-size: 20px
      opacity: .6

.form
  fieldset
    margin: 10px 0
  label
    margin-bottom: 5px

  &.add-post-form
    input[type=text]
      font-size: 20px
      padding: 7px
      width: 100%
      box-sizing: border-box