#flash_error {
 background-color:#FCC;
}
#flash_alert{
 background-color:#FFE5CC;
}


#flash_notice {
 background-color:#CFC;
}



.flash {
 cursor:pointer;
 display:none;
 width:100%;
 text-align:center;
 padding: 5px 0;
 font-size: 16px;
 position:fixed;
 top:0;
 height:1.3em;
 left:0;
 z-index:10000;
}
