%section.page
  %section.wrapper.container_12.clearfix
    .grid_4.alpha
      .pane-white.clearfix
        .user-contractor
          .clearfix
            .user-thumb
              = image_tag("user-1.png")
            .user-details.clearfix
              %ul
                %li.contractor-name
                  EdeyaLabs
                %li.contractor-location
                  %i.icon-map-marker
                  Makati, Philippines
          .contractor-desc
            We partner with digital agencies and IT Outsourcing companies worldwide to help them deliver their web projects.
      

    .grid_8.omega
      .pane-white{ :style => 'padding: 0' }
        .post-item
          %h1
            Looking for ROR Developer
          .project-meta
            %ul
              %li
                %strong
                  Work arrangement:
                Hourly Project
              %li
                %strong
                  Experience:
                Senior
          .project-desc
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla urna, iaculis a hendrerit nec, consequat non dolor. Morbi a fermentum turpis. Vivamus adipiscing, justo at sodales fermentum, elit ante sagittis ligula, at laoreet lorem mauris vel dolor. Phasellus sed orci eu lorem pharetra venenatis. Sed pretium tincidunt est vitae consectetur. Fusce ac mi non ante ultricies lacinia. Donec mattis fringilla dolor, sed bibendum orci bibendum tempor.

            %p
              Suspendisse ut ipsum mattis lectus condimentum consequat. Vestibulum et accumsan est. Sed non quam sit amet justo tempus tempus pellentesque at sapien. Phasellus tortor nibh, vestibulum a fermentum eget, scelerisque ut magna. Proin rhoncus, dui ac pharetra consequat, nibh turpis euismod nulla, vitae mattis mi ante in eros. Quisque elementum condimentum quam, sed suscipit neque auctor ac. Aenean quis leo metus. Duis semper risus sit amet leo bibendum bibendum. Integer sed orci erat, a sodales neque. Duis vehicula ornare massa id molestie. Cras tempor lacus eget sem molestie convallis.

          .job-requirements
            %h2
              Job Requirements
            %p
              Suspendisse ut ipsum mattis lectus condimentum consequat. Vestibulum et accumsan est. Sed non quam sit amet justo tempus tempus pellentesque at sapien. Phasellus tortor nibh, vestibulum a fermentum eget, scelerisque ut magna.

      .pane-white.submit-proposal{ :style => "display: none" }
        %h1
          Submit a proposal
        .profile-info
          .user-contractor.clearfix
            .user-thumb
              = image_tag "user-1.png"
            .user-details
              %ul
                %li.contractor-name
                  Web design company
                %li.contractor-location
                  %icon.icon-map-marker
                  Makati, Philippines
                %li
                  edcel@webdesign.com
                %li
                  Skype: edcel123


        .profile-form
          .clearfix.section-group
            .grid_7.alpha
              .section-group
                %fieldset
                  %label
                    Monthly rate
                  .grid_1.alpha
                    %fieldset
                      %input{ :type => "text" } 
                  .grid_2.omega  
                    %select{ :style => "width: 80px" }
                      %option
                        USD
                      %option
                        SGD
                      %option
                        PHP

            %fieldset
              .section-group
                %label
                  Hourly rate
                .grid_1.alpha
                  %fieldset
                    %input{ :type => "text" } 
                .grid_2.omega  
                  %select{ :style => "width: 80px" }
                    %option
                      USD
                    %option
                      SGD
                    %option
                      PHP

            %fieldset
              .section-group
                %label
                  Additional details
                %textarea.input-details
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat quam quis diam venenatis tristique. Morbi commodo tincidunt sem scelerisque sollicitudin. Sed aliquet, felis quis ultricies malesuada, urna arcu sodales ligula, iaculis lacinia ante erat id tortor. Maecenas eu nulla at lacus mollis porttitor. Curabitur vestibulum mauris id tortor ultricies eu suscipit elit lacinia. Donec sit amet nunc mi, sed sollicitudin dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


            
      = link_to "Submit a proposal", "#", :class => "btn signup-cta full", :id => "proposeBtn"

