.container_12
	.grid_12.alpha
		%ul.inline-list
			%li
				Staffwisely &copy; 2012
			%li
				=link_to 'How it works','#'
			%li
				=link_to 'About','#'
			%li
				=link_to 'Contact','#'
			%li
				=link_to 'Terms','#'
			%li
				=link_to 'Privacy','#'
	
