.page.feature-section.centered
  %h2=t 'home.why_hire.header'

.page.feature-section.clearfix
  %ul.company-list
    %li
      Company1
    %li
      Company1
    %li
      Company1
    %li
      Company1
  
