.page.feature-section.clearfix.centered{ :style => 'height: 300px' }
  .section-centered.group
    %h2=t 'home.how_it_works.header'
  .item-round.first
    .tooltip.hide
      =t 'home.how_it_works.steps.first.text'
      .caret
    %span=t 'home.how_it_works.steps.first.header'

  .item-round.second{ :style => 'margin-left: -20px; margin-right: -10px' }
    .tooltip.hide
      =t 'home.how_it_works.steps.second.text'
      .caret
    %span=t 'home.how_it_works.steps.second.header'

  .item-round.third{ :style => 'margin-left: -10px; margin-right: -20px' }
    .tooltip.hide
      =t 'home.how_it_works.steps.third.text'
      .caret
    %span=t 'home.how_it_works.steps.third.header'

  .item-round.fourth
    .tooltip.hide
      =t 'home.how_it_works.steps.fourth.text'
      .caret
    %span=t 'home.how_it_works.steps.fourth.header'
