.home-section.clearfix
  .column.one-third.alpha
    .section-centered
      %h3=t 'home.why_hire.reasons.first.header'
      .item-desc=t 'home.why_hire.reasons.first.text'

  .column.one-third
    .section-centered
      %h3=t 'home.why_hire.reasons.second.header'
      .item-desc=t 'home.why_hire.reasons.second.text'

  .column.one-third.omega
    .section-centered
      %h3=t 'home.why_hire.reasons.third.header'
      .item-desc=t 'home.why_hire.reasons.third.text'
