.page.feature-section.centered
  %h2=t 'home.why_hire.header'

.page.feature-section.clearfix
  .grid_4.alpha
    %h3=t 'home.why_hire.reasons.first.header'
    .item-desc=t 'home.why_hire.reasons.first.text'

  .grid_4
    %h3=t 'home.why_hire.reasons.second.header'
    .item-desc=t 'home.why_hire.reasons.second.text'

  .grid_4.omega
    %h3=t 'home.why_hire.reasons.third.header'
    .item-desc=t 'home.why_hire.reasons.third.text'
