%section.page
  .container_12
    .pane-switcher.clearfix
      .grid_6.alpha
        %a#hireLink.active
          Hiring on Staffwisely
      .grid_6.omega
        %a#projectsLink
          Getting Projects on Staffwisely
  .page-white
    .container_12
      #hire
        .page.clearfix{ :style => 'padding-top: 30px' } 
          %p
            When you have an urgent requirement and don’t have 30 days to hire a full-time employee, post a job on Staffwisely and get proposals from other companies in a matter of days. 
          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                1
            .grid_10.omega
              .steps-list
                %h2
                  Post a Job
                %p
                  Posting a job is fast and easy. Just specify the skills you're looking for, describe the project, job description, working arrangement (i.e. remote or on-site), and hit submit. And did I mention it’s free. 

          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                2
            .grid_10.omega
              .steps-list
                %h2
                  Receive Proposals
                %p
                  Companies who have the developers you need will send you their proposals. They will give you their hourly rate for per-project engagement and their monthly rate for time and material engagement. Negotiate as necessary. 

          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                3
            .grid_10.omega
              .steps-list
                %h2
                  Sign Agreements
                %p
                  This is not required, but we highly recommend that you sign agreements like non-compete, non-solicitation, and non-disclosure to protect the interests of both parties. Staffwisely will not be providing these documents. Procurement of these contracts will be arranged by both parties.  


          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                4
            .grid_10.omega
              .steps-list
                %h2
                  Start Your Project
                %p
                  Once the terms are in place, documents signed, and you've selected the developers you want, you are good to go! 

      #projects{ :style => 'display: none' }
        .page.clearfix{ :style => 'padding-top: 30px' } 
          %p
            Staffwisely would make a great revenue channel for your company. You can find projects from the job postings of other companies. 
          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                1
            .grid_10.omega
              .steps-list
                %h2
                  Search 
                %p
                  Companies who have urgent hiring turns to Staffwisely to get those seats filled up ASAP. Search for job postings that match the skills and expertise of your people. This helps you fully maximize your people and keeps your bench rate low.  

          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                2
            .grid_10.omega
              .steps-list
                %h2
                  Submit a Proposal
                %p
                  If you have people that match the requirement of a project, be sure to submit a proposal. There are two types of proposal, per project (hourly billing) and time and material (monthly billing). Specify the rate you are willing to go 

          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                3
            .grid_10.omega
              .steps-list
                %h2
                  Negotiate
                %p
                  Just like most clients, the recipient of your proposal would most likely negotiate as they also want to keep a profit margin. Another thing to take note, you are not the only player trying to get the project, so play your cards right and put your negotiator hat on. 


          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                4
            .grid_10.omega
              .steps-list
                %h2
                  Sign Agreements
                %p
                  This is not required, but we highly recommend that you sign agreements like non-compete, non-solicitation, and non-disclosure to protect the interests of both parties. Staffwisely will not be providing these documents. Procurement of these contracts will be arranged by both parties. 

          .section-group.section-top-large.clearfix
            .grid_2.alpha
              .number-list
                5
            .grid_10.omega
              .steps-list
                %h2
                  Monitor Performance
                %p
                  As a vendor, your work doesn’t stop after you close the deal. Make sure that you monitor the performance of your people deployed to your client. Treat the projects you got from Staffwisely the same way you treat your other clients. 

       

