%section.page
  %section.main-hero
    .container_12
      .hero-message
        %h1=t 'home.header'
        %p=t 'home.sub'

      .main-signup-section
        %a.btn.signup-cta=t 'home.buttons.post_a_job'
        %p=t 'home.buttons.post_a_job_sub'

  .container_12
    = render 'why_hire'
    = render 'how_it_works'
    = render 'companies'
