.grid_4.alpha
  .pane-white.clearfix
    .user-contractor
      .clearfix
        .user-thumb
          = image_tag("user-1.png")
        .user-details.clearfix
          %ul
            %li.contractor-name= @project.company.name
            - if @project.company.address.present?
              %li.contractor-location
                %i.icon-map-marker
                = @project.company.address
      .contractor-desc= @project.company.description
