.search-wrapper.fixed
  .container_12.clearfix
    .grid_12.alpha
      %label{ :style => 'color: #999' } 
        %strong Search
      %input.search-input{ :type => 'text', :placeholder => 'Enter a job position or project' }
      %select{ :style => 'display: inline-block; width: 200px' }
        %option
          Hourly
        %option
          Project based
      %button.btn.cta
        Search

