.cover-overlay
  .container
    .page
      .columns.five.alpha
        = render 'search'
      .columns.eleven.omega
        .pane-container
          .pane-nav
            %a.active
              =t 'projects.header'
              .marker
          .pane-inner.clearfix
            = render "items"
