%section.page
  .search-wrapper.fixed
    .container_12.clearfix
      .grid_12.alpha
        %label{ :style => 'color: #999' } 
          %strong Search
        %input.search-input{ :type => 'text', :placeholder => 'Enter a job position or project' }
        %select{ :style => 'display: inline-block; width: 200px' }
          %option
            Hourly
          %option
            Project based
        %button.btn.cta
          Search

  .page{ :style => 'margin-top: 50px' }
    .container_12
      .section-group.search-group.clearfix
        .grid_4.alpha
          .user-contractor
            .clearfix
              .user-thumb
                = image_tag("user-1.png")
              .user-details.clearfix
                %ul
                  %li.contractor-name
                    EdeyaLabs
                  %li.contractor-location
                    %i.icon-map-marker
                    Manila, Philippines
            
        .grid_8.omega
          .search-item
            %h3
              =link_to 'Looking for Ruby on Rails developer','#'
            .project-meta.search-project-meta
              %ul
                %li
                  %strong Work Arrangement:
                  Full Remote
                %li
                  %strong Experience
                  Senior
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat quam quis diam venenatis tristique. Morbi commodo tincidunt sem
        
