%section.page
  .page{ :style => 'margin-top: 50px' }
    .container_12
      - @projects.each do |p|
        .section-group.search-group.clearfix
          .grid_4.alpha
            .user-contractor
              .clearfix
                .user-thumb
                  = image_tag("avatar-blank.png")
                .user-details.clearfix
                  %ul
                    %li.contractor-name= p.company.name
                    - if p.company.address.present?
                      %li.contractor-location
                        %i.icon-map-marker
                        = p.company.address
          .grid_8.omega
            .search-item
              %h3
                =link_to p.title, project_path(p)
              %p= truncate_html strip_tags(p.description), :length => 150
